<launch>
 
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find example_submission)/config/logging.conf"/>

  <node pkg="move_base" type="move_base" respawn="false" name="submission" output="screen">

    <rosparam file="$(find example_submission)/params/kuri/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find example_submission)/params/kuri/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find example_submission)/params/kuri/map_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find example_submission)/params/kuri/map_nav_params/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find example_submission)/params/kuri/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find example_submission)/params/kuri/move_base_params.yaml" command="load" />
    
    <remap from="cmd_vel" to="mobile_base_controller/cmd_vel" />

  </node>

</launch>
